body {
  height:100vh;
  width:100vw;
  margin:0;
  overflow:hidden;
}
.centered {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-family:"Comic Sans MS";
}
h1 {
  margin:0;
  font-size:20vw;
  color:  red;
  text-shadow:1vw 1vw orange, 2vw 2vw yellow, 2.75vw 2.75vw green, 3.1vw 3.1vw blue, 3.35vw 3.35vw indigo;
}
p {
  font-size:3vw;
  margin:2vw;
}
/*copied from: https://codepen.io/nohoid/pen/kIfto*/
.rainbow {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background-size:1000% 1000%;
  background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  animation:rainbow 10s linear infinite;
}
@keyframes rainbow {
    0% {
      background-position:0% 82%
    }
    50% {
      background-position:100% 19%
    }
    100% {
      background-position:0% 82%
    }
}
