.title {
    font-weight: 700; 
    text-shadow: 
        3px 3px black,
        3px -3px black,
        -3px 3px black,
        -3px -3px black,
        3px 0px black,
        0px -3px black,
        -3px 0px black,
        0px 3px black,
        3px 2px black,
        3px -2px black,
        -3px 2px black,
        -3px -2px black,
        -2px -3px black,
        -2px 3px black,
        2px -3px black,
        2px 3px black;
}
#card1 {
    padding-top: 16px;
    background-image: url(images/1_1.png);
}
#card1 button {
    color: #bc7484;
    margin: 70px 0 0 104px;
    border-color: #995161;
    background-color: #995161;
}
#card1 button:hover {
    color: black;
    border-color: white;
    background-color: white;
}
#card2 {
    padding-top: 20px;
    background-image: url(images/1_2.png);
}
#card3 {
    padding-top: 12px;
    background-image: url(images/PLACEHOLDER.png);
}
#card4 {
    padding-top: 18px;
    background-image: url(images/PLACEHOLDER.png);
}
