

* {
    box-sizing: border-box;
}
html {
    background-color: grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
.bar, #games {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;
}
.bar div {
    color: white;
    border: 5px solid #180030;
    border-radius: 15px;
    background-color: #180030;
    margin: 0 8px;
    padding: 0 10px;
    font-family: 'Patua One', serif;
    font-size: 16px;
    line-height: 20px;
}
.bar div:hover {
    color: black;
    border: 5px solid white;
    background: white;
    transition: border 0.5s, background 0.5s;
}
.card {
    width: 290px;
    height: 384px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 7.5px;
    padding: 10px 16px;
    background-image: url(images/PLACEHOLDER.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -10px 10px #180030;
}
#news {
    width: 70%;
    margin: auto;
}
#news > div {
    border: 5px solid black;
    border-radius: 10px;
    margin: 7.5px;
    padding: 10px;
}
.newsHead {
    display: inline;
    color: white;
    border: 5px solid black;
    border-radius: 15px;
    background-color: black;
    margin-right: 10px;
    padding: 0 10px;
    font-family: 'Patua One', serif;
    font-size: 16px;
    line-height: 20px;
}
.newsBody {
    margin-top: 10px;
}
